@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-info"> @User.Identity.Name</a>
    <a class="btn btn-outline-danger" asp-route-returnurl="/Home/Index" asp-controller="Login" asp-action="SignOut"> Logout</a>
}
else
{
    <a class="btn btn-outline-success mx-2" asp-controller="Register" asp-action="Index"> Register</a>
    <a class="btn btn-outline-info" asp-controller="Login" asp-action="SignIn"> Login</a>
}