@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgetPassword</h1>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<form asp-action="ForgetPassword" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="example@gmail.com">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>