@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["LoginSuccess"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["LoginSuccess"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Member/Index">member</a>.</p>
</div>